*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

.scala_dependencies
*.swp
*.log.*
.vagrant
target/
junitreports/
.idea/
.idea_modules/
.DS_Store

.*~
