# Comment

aa # Comment
= # Comment
 1 # Comment

ab =
"foo"


ac {
 # fnord
 x=1

 y=true

 #blorg
}

ad = false
ae = 1
af
=
[
2
#foo
,
#bar
3
#baz
]#quux

ag { q-e { i_u9 { a=false}}}

ba = "$(HOME)"

